<h1>About Project Repatriation:</h1>
<p>Have you ever wondered what happened to that favorite t-shirt you owned five years ago? Maybe your mom cleaned out your closet while you were out with your friends, or your ex-girlfriend has repeatedly refused to give it back. Or, worse yet, you simply got rid of it before you were really ready to part ways with it.</p>

<p>Chances are your misfortune resulted in someone else's gain, right here in the United States. But a smaller, more adventurous percentage of your favorite shirts have made the long journey to parts of the world you have never even seen before, to the depths of the used t-shirt markets in the developing world. And, while an abundant supply of slightly less awesome, hip, and ironically hilarious t-shirts will certainly be available for purchase by appreciative consumers in those parts of the world, the real tragedy occurs when shirts are pre-maturely cast away to foreign lands without achieving their maximum potential domestically. Let’s call it pre-mature deportation.</p>

<p>And thus, I introduce you to Project Repatriation. Our mission is to "repatriate" under-achieving t-shirts that deserve a second chance to bring happiness to individuals on the home-front. Most importantly, aside from increasing the supply of awesome T-shirts domestically, Project Repatriation supports local markets, while 100% of proceeds support NGO's that are improving lives in the countries from which our T-shirts are purchased. </p>

<p>Project Repatriation. We bring 'em home, you wear 'em proud.</p>
