

<% colcount = 1 %>
<% @products.each do |product| %>  
  <div class="span-8 <%= colcount % 3 == 0 ? 'last' : '' %> ">
     <a href="">
      <div class="span-8 last">
        <%= product.title %>
      </div>
      <div class="span-8 last">
        <img alt="test" height="100" src="/images/products/<%= ProductImages.find(product.id).imagename%> " />
      </div>
    </a>
  </div>
  <%  colcount = colcount + 1%>
<% end %>
