<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title><%=
		if @title then
			h @title
		else
			h controller.controller_name
		end
		-%> : <%=h @store_name %></title>
	<%= javascript_include_tag :defaults, :cache => 'default' %>
  <%= 
    javascript_include_tag(
      'substruct', 'subModal', 'lightbox', 
      :plugin => 'substruct', 
      :cache => 'substruct_cache'
    ) 
  %>
  <%= 
    stylesheet_link_tag(
      'main', 'subModal', 'lightbox',
      :plugin => 'substruct', 
      :cache => 'substruct_main'
    ) 
  %>
	<%= yield :header %>
</head>
<body>

<!-- Begin Container -->
<div id="container">
	<div id="header">
                <!-- top links -->
                <div class="TopLinks" >

                  <img src="/images/Repat-Header.png" alt="Repat Header" USEMAP="#headerMap" />
                  <map id="headerMap" name="headerMap">
                    <area shape="rect" coords="1,0,314,144" href="/" alt="home" />
                    <area shape="rect" coords="331,107,438,144" href="/mission" alt="mission" />
                    <area shape="rect" coords="456,107,591,144" href="/store" alt="buy a shirt" />
                    <area shape="rect" coords="613,107,818,144" href="/agent" alt="become an agent" />
                    <area shape="rect" coords="840,107,895,144" href="" alt="cart" onclick="SUBMODAL.show('/store/show_cart', 600, 400, null, true);return false;" />
                  </map>
                  <!--
                        <a href="/">mission</a>
                        <a href="/store">buy a shirt</a>
                        <a href="/">get involved</a>
                        <a href="/store/show_cart" class="submodal-600-400">cart</a>
                        <a href="/questions/ask">contact</a>
                  -->
                </div>
		
		<% if @customer && !@customer.new_record? %>
			<div id="customer_msg">
				<%= @customer.email_address %>
				<br/>
				<a href="/customers/logout">log out</a>
			</div>
		<% end %>
		
	</div>
	<!-- End header -->

	<!-- Begin content body  -->
	<div id="contentBody">
		
    <%= render :partial => '/shared/flash', :locals => { :flash => flash } %>
		
		<%= yield %>
	</div>
	<!-- End content body -->

	<div id="footer">
          <img src="/images/Repat-Footer.png" alt="Repat Footer" USEMAP="#footerMap" />
          <map id="footerMap" name="footerMap">
            <area shape="rect" coords="8,56,247,127" href="http://www.facebook.com/pages/Project-Repat/151226798258064" alt="facebook" title="facebook"    />
            <area shape="rect" coords="294,56,473,127" href="http://twitter.com/projectrepat" alt="twitter" title="twitter" />
            <area shape="rect" coords="496,33,585,127" href="/questions/faq" alt="faq" title="faq" />
            <area shape="rect" coords="623,33,718,127" href="/blog" alt="blog" title="blog" />
            <area shape="rect" coords="742,13,885,126" href="/questions/ask" alt="contact us" title="contact us" />
          </map>
	</div>
</div>
<!-- End container -->

</body>
</html>
